@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta página será para demostrar mis habilidades en ASP Net Core.</p>
    <p>Número de teléfono: 829-682-0160 | Facebook: <a href="https://www.facebook.com/MaxwellRafael.TavaresRocha.7/"></a>.</p>
</div>
